.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0; /* Light gray background */
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3px;
  }
  
  .select-container {
    display: flex;
    align-items: center;
  }
  
  .label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  select {
    margin-left: 5px;
    padding: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
  }
  
  /* Style for options in select dropdown */
  select option {
    background-color: #fff;
    color: #570a39;
  }
  
  button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #4CAF50; /* Green */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for the editor container */
  .editor-container {
    flex-grow: 1;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
  }
  
  .full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  