.mat-button-toggle {
    margin: 2px;
    padding: 0rem;
    height: 35px;
    border-radius: 10px;
    
}
.mat-button-toggle:hover {
    background-color: #685ecb;
    /* Change background color on hover if desired */
    color: white;
}
